<h1><center>Explore the data</center></h1>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("melb_data.csv")

In [12]:
df
#13580 rows Ã— 21 columns
#df.head()
#df.tail()
#df.head(10)
# all these above are functions so add paranthesis

#df dimensions
df.shape
#to get rows and columns - o/p: (13580, 21)
#shape is not a function, it is a tuple
df.shape[0]

#use case - if we want to print
#f string - use curly bases inside a string to add df.shape inside
print(f"there are {df.shape[0]} rows")
print(f"there are {df.shape[1]} columns")

there are 13580 rows
there are 21 columns

In [16]:
df.info()
#number of rows columns
#how many non nulls
#data tyoe of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [19]:
#missing values in each column
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [21]:
#how many missing values in the entire dataframe
df.isna().sum().sum()

13256

In [22]:
#Handling missing data values - discuss in the next session in detail
#easiest way - delete them all
#default parameters when () is added next to a function
#axis=0 => rows
#axis=1 => columns
#df.dropna() - default axis is 0
## which means rows will be dropped. If 1 is added then columns are dropped.
#df.dropna(axis=1)
#how - any (drop if any NAs in the row) - all(drop only if all vlaues are NA in the row)

df=df.dropna(axis=0, how='any')
#remember to reassign after deleting NAs

In [23]:
df.isna().sum()
#check if it worked

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [24]:
df.shape
#check number of rows

(6196, 21)

<h2>Features and Target</h2>

In [28]:
#Target = what we are predicting
#Features = need to be selected as all columns cannot be used to predict
#Focus on the numerical ones first

#Pandas tutorial
#Select one column
#both below give same answer but 2nd one doesn't work if column name has a space
df["Rooms"]
df.Rooms

#the first column in o/p are index numbers, not row numbers. Post deletion index does not change. 
#(Also, should be starting from 0)
#We can reset index if needed
#Here it will be useful if we want to go back to original dataset

1        2
2        3
4        4
6        3
7        2
        ..
12205    3
12206    3
12207    1
12209    2
12212    6
Name: Rooms, Length: 6196, dtype: int64

In [29]:
#df[] is used to access a column. If we want to access multiple colummns, we need to create a list inside df[]
df[["Rooms","Bathroom"]]
#need to add second set of [] for multiple columns to create a list

       Rooms  Bathroom
1          2       1.0
2          3       2.0
4          4       1.0
6          3       2.0
7          2       1.0
...      ...       ...
12205      3       2.0
12206      3       1.0
12207      1       1.0
12209      2       1.0
12212      6       3.0

[6196 rows x 2 columns]

In [30]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [34]:

#Selecting features
#create a list of column names 

features = ['Rooms','Bathroom','Landsize', 'BuildingArea']
features
#does not give o/p, need to access via df[]

['Rooms', 'Bathroom', 'Landsize', 'BuildingArea']

In [36]:
X = df[features]
X

       Rooms  Bathroom  Landsize  BuildingArea
1          2       1.0     156.0         79.00
2          3       2.0     134.0        150.00
4          4       1.0     120.0        142.00
6          3       2.0     245.0        210.00
7          2       1.0     256.0        107.00
...      ...       ...       ...           ...
12205      3       2.0     972.0        149.00
12206      3       1.0     179.0        115.00
12207      1       1.0       0.0         35.64
12209      2       1.0       0.0         61.60
12212      6       3.0    1087.0        388.50

[6196 rows x 4 columns]

In [37]:
#Target
y = df.Price
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

<h2> Building first Model: Decision Tree</h2>

In [39]:
#Easiest ML algorithm to understand and interpret
#DFPE
#1)Define
#2)Fit
#3)Predict
#4)Evaluate


#***** DEFINE THE MODEL YOU ARE GOING TO BE USING ********

from sklearn.tree import DecisionTreeRegressor

#can name it model but gets confusing with mant models, so name it dtr for decision trees
#random_state saves your results
#if you want to keep the results the same, then you need to save. Nature of models is to change, if not added the results will be different everytime
#we are going to keep doing something to the data to fit it
#here we are using the entire dataset so even if it runs multiple times, it may remain the same

dtr = DecisionTreeRegressor(random_state=1)

#**** FIT THE MODEL USING THE DATA ********

#supervised learning - we are using a target (labels)

dtr.fit(X,y)

#***** MAKE PREDICTIONS ******

#Lets use the first 5 rows of X
dtr.predict(X.head())

array([1035000., 1465000., 1600000., 1876000., 1636000.])

In [41]:
#how to compare this with actual data
#y.head()
list(y.head())

[1035000.0, 1465000.0, 1600000.0, 1876000.0, 1636000.0]

<h2>HOMEWORK</h2>

In [ ]:
#create cheatsheet with all functions only
#Answer questions 1 and 2
#Do decision tree modelling on train dataset